* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
}
.sky {
  background-color: skyblue;
  height: 33%;
}
.grass {
  background-color: seagreen;
  height: 33%;
}
.road {
  background-color: gray;
  height: 33%;
  width: 100%;
  position: relative;
}
.line {
  border: 5px dashed white;
  height: 0;
  width: 100%;
  position: absolute;
  top: 45%;
}
.road img {
  position: absolute;
  top: -40px;
  left: 0;
}
.img-div {
  width: 100%;
  animation: character 3s linear infinite;
}

@keyframes character {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* CSS FOR THE FAN */

.fan {
  background-color: rgb(134, 47, 200);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fan-container {
  display: flex;
  width: 300px;
  height: 180px;
  position: relative;
}
.fan-container div {
  width: 50px;
  height: 180px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform-origin: center 85%;
  animation: open 3.5s linear 1s infinite;
}
.red {
  background-color: red;
  z-index: 5;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}

.lemon {
  background-color: lime;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: brown;
}

.red::before {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  z-index: 6;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes open {
  0% {
    transform: translateX(-50%) rotate(0);
  }

  15% {
    transform: translateX(-50%) rotate(calc(15deg * var(--i)));
  }
  60% {
    transform: translateX(-50%) rotate(calc(15deg * var(--i)));
  }

  75% {
    transform: translateX(-50%) rotate(0);
  }
  100% {
    transform: translateX(-50%) rotate(0);
  }
}

.click {
  margin: 300px;
  width: 200px;
  height: 50px;
  background-color: beige;
  border-radius: 10px;
  font-size: 24px;
  /* transition: all 2s linear; */
  /* transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 5s; */

  transition: all 1s ease-in;
}

.click:hover {
  background-color: yellow;
  /* width: 300px; */
  transform: rotateX(90deg) translate(100px, 200px) scale(0.5);
  /* transform: translateY(-200px); */
}

.click:active {
  background-color: blue;
  color: white;
  width: 200px;
}

.fan-con {
  width: 100%;
  height: 500px;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fans {
  width: 350px;
  height: 250px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fans div {
  width: 50px;
  height: 180px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  transform-origin: center 88%;
  animation: opening 3.5s linear 1s infinite;
}
.reds {
  background-color: red;
}

.oranges {
  background-color: orange;
}

.yellows {
  background-color: yellow;
  /* animation: yell 2s linear 0.5s 5 forwards; */
}
.greens {
  background-color: green;
  /* animation: gree 2s linear 0.5s 5 forwards; */
}
.blues {
  background-color: blue;
  /* animation: blu 2s linear 0.5s 5 forwards; */
}

.indigos {
  background-color: indigo;
  z-index: 1;
  /* animation: indi 2s linear 0.5s 5 forwards; */
}

.indigos::before {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  z-index: 5;
}

@keyframes opening {
  0% {
    transform: translate(-50%) rotate(0);
  }

  20% {
    transform: translateX(-50%) rotate(calc(1deg * var(--i)));
  }

  60% {
    transform: translateX(-50%) rotate(calc(1deg * var(--i)));
  }

  80% {
    transform: translate(-50%) rotate(0);
  }

  100% {
    transform: translate(-50%) rotate(0);

    an
  }
}
/* 
@keyframes oran {
  from {
    transform: translateX(-50%), rotate(0);
  }

  to {
    transform: translateX(-50%) rotate(-45deg);
  }
}

@keyframes yell {
  from {
    transform: translateX(-50%), rotate(0);
  }

  to {
    transform: translateX(-50%) rotate(-15deg);
  }
}
@keyframes gree {
  from {
    transform: translateX(-50%), rotate(0);
  }

  to {
    transform: translateX(-50%) rotate(15deg);
  }
}

@keyframes blu {
  from {
    transform: translateX(-50%), rotate(0);
  }

  to {
    transform: translateX(-50%) rotate(45deg);
  }
}
@keyframes indi {
  from {
    transform: translateX(-50%), rotate(0);
  }

  to {
    transform: translateX(-50%) rotate(75deg);
  }
} */

/* .fans:hover .oranges {
  transform: translateX(-50%) rotate(-45deg);
}
.fans:hover .yellows {
  transform: translateX(-50%) rotate(-15deg);
}
.fans:hover .greens {
  transform: translateX(-50%) rotate(15deg);
}
.fans:hover .blues {
  transform: translateX(-50%) rotate(45deg);
}
.fans:hover .indigos {
  transform: translateX(-50%) rotate(75deg);
} */
